<h>
  Please fill in the details of your recipe below:
</h>

<br> </br>
<form action = "post">
  Name: <br>
  <input type="text" name="name"><br>
  Description: <br>
  <input type="text" name="description"><br>
  Difficulty: <br>
  <input type="text" name="difficulty"><br>
  Preparation Time: <br>
  <input type="text" name="prep_time"><br>
  Submit your recipe
  <input type="submit" name="post"><br>
</form>


