<h>
  <%= @recipe_to_display.name%><br><br>
  </h>
<p>
  <%= @recipe_to_display.description%> <br>
  </p>
<p>
  <%= @recipe_to_display.difficulty%> <br>
  </p>
<p>
  <%= @recipe_to_display.prep_time%> <br>
  </p>


  <a href = '/' > Home </a>
